@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Raleway:ital,wght@0,400;0,700;1,700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
}

.wrapper {
    max-width: 26rem;
    min-height: 96vh;
    margin: 0 auto;
  }

  button {
    font-size: 2rem;
    border: 1px solid #333;
    cursor: pointer;
  }

  .modifiers button {
    background-color: #ccc;
  }

  .operations button {
    background-color: orange;
    width: 100px;
  }
  
  .digits button {
    background-color: #efefef;
  }