#quote {
  width: 26rem;
  margin: 3rem 20rem;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

#quote q {
  font-style: italic;
}

#quote p {
  margin-top: 1rem;
  text-align: right;
}
